html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

header p {
  text-transform: uppercase;
}

header #logo {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
}

header nav li {
  display: inline-block;
  margin-right: 1rem;
}

#sign-in {
  margin-right: 1.5rem;
}

/* Banner */

.banner {
  background-color: lightgray;
  display: flex;
  align-items: center;
}

#banner-img-div {
  margin: 2rem 2.5rem 2rem 1.5rem;
  width: 60%;
}

#banner-img-div img {
  width: 100%;
  height: 100%;
}

.banner p {
  background-color: gray;
  color: white;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
}

/* Information */

.information {
  display: flex;
}


#info-main {
  width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#info-main img {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#info-main h1 {
  margin-bottom: 1.5rem;
}

#info-main .small {
  margin-top: 1.5rem;
}

#info-side {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.side-sec {
  width: 26.4375rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.side-img{
  width: 35%;
  margin: 1rem;
  display: inline-block;
}

#top-side {
  margin-top: 2rem;
}

.side-img img {
  width: 100%;
  height: 100%;
}

.side-text {
  width: 15.2875rem;
}

.side-text h3 {
  margin-bottom: 0.5rem;
}

.side-text .read {
  margin-top: 0.5rem;
}

#guest {
  background-color: lightgray;
}
